html {
    background: no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

    /*background-image: url(csC:\Users\Aysegul\Desktop\Trt_Proje\Trt_Proje1\Trt_Proje1\css\LoginStyle.csss/arkaplan.jpg);
/*background-repeat: repeat;
background-attachment: scroll;
background-color: white;
background-position: center;*/

#KullanAd_TextBox,#Sifre_TextBox {
    border-radius:5px ;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#form1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height:350px;    
}

#Anacerceve {
    box-shadow: 15px 15px 15px #000;
    border-radius: 10px;
    background-color: #0094ff;
    padding-bottom: 20px;
}

td {
    /*padding-top: 5px;*/
    padding-bottom: 5px;
}

table {
    text-align: right;
    margin-left: 35px;
}
#BtnYeniSatir {
   
    text-align: left;
    padding-top: 15px;
   
}

#BtnSatir {
    width: 170px;
    text-align: right;
    padding-top: 15px;
    }
#Giris_Btn{
    border:none;
    background-color: #FFFF66;
    color: black;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #000;
    height:35px;
    width:100px;
}
#Yeni_Btn {
    border:none;
    background-color:red;
    color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #000;
    height: 35px;
    width: 120px;
}
  #Yeni_Btn:hover {
        background-color:yellow;
        color: red;
    }

    #Yeni_Btn:active {
        background-color: purple;
        color: white;
    }


    #Giris_Btn:hover {
        background-color: red;
        color: yellow;
    }

    #Giris_Btn:active {
        background-color: purple;
        color: white;
    }
